* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */

body {
  font-family: Open Sans;
}

/* HEADER */

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 25px;
  font-weight: bold;
}

/* MAIN */

.main-top {
  background-color: rgb(49, 49, 49);
  padding: 20px;
  color: #ffffff;
  text
}

.main-bottom {
  background-color: rgb(0, 119, 255);
}