* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Opens Sans;
}

/* HEADER */

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  gap: 20px;
}