* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */

body {
  font-family: Open Sans;
}

/* HEADER */

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  gap: 25px;
  font-weight: bold;
}

/* MAIN */

.main-top {
  background-color: #1C1C1C;
  padding: 20px;
  color: #ffffff;
}

.main-bottom {
  background-color: #0282F9;
}